deploy:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            lcphutchinson/cs631_term:latest
            lcphutchinson/cs631_term:${{ github.sha }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=registry,ref=lcphutchinson/cs631_term:cache
          cache-to: type=inline,mode=max
